body {
  background-color: rgba(244, 244, 244, 0.839);
  width: 425px;
  margin: 20px auto;
  border: 3px solid rgb(0, 0, 0);
  padding: 75px 75px;
  border-radius: 15px;
  height: 500px;
}

#answer {
  width: 300px;
  height: 150px;
  color: rgb(7, 6, 5);
  background-color: rgb(242, 246, 250);
}

html {
  background-image: url(pexels-photo-699466.jpeg);

  background-size: 690px;
}

#men {
  background-color: rgb(108, 184, 255);
  color: pink;
}
#women {
  background-color: pink;
  color: rgb(0, 132, 255);
}
#button {
  background-color: rgb(174, 255, 174);
}
#clear {
  background-color: rgb(255, 169, 169);
}
.Box {
  border: 2px solid black;
  border-radius: 5px;
}
 
#ind {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
}
